* {
    border: none;
    margin: 0;
    padding: 0;
}



button {
    background-color: black;
    color: aqua;
    margin: 25px;
    padding: 10px;
}

.nameFields{
    display: flex;
    flex-direction: row;
}

label, input{
    margin-right: 5px;
    margin-left: 5px;

}
input{
    border: 2px solid black;
    height: 2rem;
    padding: 5px;
    
}

#alertContainer{
    max-width: 70%;
    max-height: 20%;
    
}
#alertContainer, p{
    margin: 5px;
    border: 1px solid black;
}

.formContainer {
    /* border: 1px dashed black; */
    margin: 10px;
}

.todoList{
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: rgb(146, 243, 243);
}

#todoInput{
    /* border: 2px solid black; */
    width: 15rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: rgb(40, 40, 40);
    color: white;
}

#addTodo, #deleteTodo {
    border-radius: 1rem;
    width: 20%;
    height: 2.5rem;
    background-color: rgb(79, 212, 101);
    color: whitesmoke;
}

.liveFilterContainer {
    margin: 10px;
    border: 1px solid black;
}

.searchResultsContainer{
    display: flex;
    flex-direction: column;
    margin: 15px;
    
}